.navbar {
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
    background-color: white;
    
    @media (min-width: 640px) {
        background-color: #F2F2F2;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }


    &-is-active {
        background-color: white;

        @media (min-width: 640px) {
            background-color: #F2F2F2;
            margin-left: 13rem;
            width: calc(100vw - 12rem);
        }

        @media (min-width: 768px) {
            width: calc(100vw - 13rem);
        }
    }

    &-is-inactive {
        width: 100vw;
    }

    &__container {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1024px) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-left: 0.75rem;
        }

        &__button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #202224;

            .button {
                padding: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-right: 1rem;
                border: none;
                width: fit-content;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                background-color: transparent;
                cursor: pointer;
                

                @media (min-width: 640px) {
                    color: #202224;
                }

                &:hover {
                    opacity: 0.7;
                }

                &__icons {
                    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform !important;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
                    transition-duration: 300ms !important;
                    

                }
            }
        }
    }


}