NODE_ENV_BD=semSSL
# Global variables
JWT_SECRET=

# Database variables connect

DB_HOST=data_eucatur
DB_PORT=5432
DB_USER=
DB_PASS=
DB_DATABASE=plataforma_eucatur


# Mail service variables connect
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=


API_IMPETUS_URL=
API_IMPETUS_KEY=