version: "3"

networks:
  web:
    external: true

services:
  eucatur-pricing-app:
    image: eucatur-pricing-app:latest
    container_name: eucatur-pricing-app
    restart: always
    ports:
      - "4000:80"
    networks:
      - web