@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Definir os tamanhos padrão para breakpoints
$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 900px,
  "xl": 1200px,
  "xxl": 1400px,
  "custom": 1600px 
);

// Mixin para media queries
@mixin respond-to($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if $size {
    @media (min-width: #{$size}) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} não está definido em $breakpoints.";
  }
}
