.pricinglist {
    display: flex;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    flex-direction: column;
    justify-content: space-between;

    &__container {
        padding: 1rem;
        background-color: white;
        top: 257px;
        left: 308px;
        gap: 0px;
        border-radius: 30px;
        border: 1px;
        opacity: 0px;

    }
}