@forward '../../../assets/styles/variables';

.sidebar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 20 !important;
    padding-top: 6rem !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 300ms !important;

    @media (min-width: 640px) {
        z-index: 40 !important;
        min-height: 100% !important;
    }


    &-is-active {
        width: 100% !important;

        @media (min-width: 640px) {
            width: 13rem !important;
        }
    }

    &-is-inactive {
        display: none !important;
    }

    &__logo {
        display: flex !important;
        justify-content: center !important;

        .image {
            height: 2rem;

            @media (min-width: 640px) {
                height: 1.5rem;
            }
        }
    }

    &__menu {
        font-weight: 400 !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;


        @media (min-width: 640px) {
            margin-top: 3rem !important;
        }

        .list {
            list-style: none;


            &__button {

                width: 10rem;
                height: 56px;
                padding: 1rem 1.25rem;
                gap: 0.625rem;
                border-radius: 0.75rem;
                background-color: transparent !important;
                color: rgba(95, 99, 104, 1) !important;
                justify-content: flex-start;

                &.selected {
                    background-color: var(--color-primary) !important;
                    color: white !important;
                }

                &:hover {
                    border-color: #FFFFFF61 !important;
                    background-color: var(--color-primary) !important;
                    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09) !important;
                    color: white !important;
                }

                &__icons {
                    padding-left: 0.5rem !important;
                    padding-right: 0.5rem !important;
                    border-radius: 50% !important;
                    border-width: 2px !important;
                    background: #FFFFFF1A !important;
                    border-color: #FFFFFF33 !important;
                }

                &__titile {
                    margin-left: 0.75rem;
                    white-space: nowrap;
                    line-height: 16.94px;
                    text-align: left;
                }
            }


        }

        .list--child {
            margin-top: 0.5rem;

            .list__button {
                font-size: 0.7rem;
                color: #555;
            }
        }


    }

    &__submenu {
        padding-inline-start: 0.5em !important;
    }
}