.pricing-simulator {
    
    &__buttons {

        button {
            padding: 0.5rem 1rem;
            font-size: 16px;
            margin-left: 1em;
            cursor: pointer;
        }
    }

    .step-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: transparent;
      }
      
      .step-icon.active {
        background-color: var(--color-primary);
        color: #fff;
        padding: 4px 4px;
      }

      .step-label.active {
        background-color: #d0f5d0;
        border-radius: 8px;
        padding: 4px 4px;
      }
      
}