version: "3"
networks:
  web:
    external: true

services:
  proxy-manager:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    container_name: EucaturNginx
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - web

  plataforma_eucatur:
    image: postgres:latest
    container_name: PlataformaEucatur
    restart: always
    environment:
      - POSTGRES_USER=usuario
      - POSTGRES_PASSWORD=senha
      - POSTGRES_DB=nomeBD
    ports:
      - "5434:5432"
    volumes:
      - ./database_plataforma_eucatur:/var/lib/postgresql/data
    networks:
      - web
