name: Sync API and APP to Public Repo

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout projeto API
        uses: actions/checkout@v4
        with:
          repository: riverdata/eucatur-pricing-api
          token: ${{ secrets.PRIVATE_TOKEN_EULABS }}
          path: temp-api

      - name: Checkout projeto APP
        uses: actions/checkout@v4
        with:
          repository: riverdata/eucatur-pricing-app
          token: ${{ secrets.PRIVATE_TOKEN_EULABS }}
          path: temp-app

      - name: Copiar arquivos do API
        run: |
          mkdir -p api
          rsync -av --delete --exclude='.git' temp-api/ api/

      - name: Copiar arquivos do APP
        run: |
          mkdir -p app
          rsync -av --delete --exclude='.git' temp-app/ app/

      - name: Commit and push
        run: |
          git config user.name "$GIT_USER"
          git config user.email "$GIT_EMAIL"

          git add .

          if ! git diff --quiet --cached; then
              git commit -m "Atualização automática API e APP"

              git remote set-url origin https://$GIT_USER:${{ secrets.PRIVATE_TOKEN_EULABS }}@github.com/${{ github.repository }}.git
              git push origin HEAD:main
          else
              echo "Nenhuma mudança detectada."
          fi
